body {
    font-family: 'Poppins', sans-serif;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #343a40;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .card {
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f7f9fc;
    padding: 30px;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #ff6f61;
  }
  
  .card-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
  }
  
  .mb-3 img {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .mb-3 img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .form-control {
    border: 2px solid #ff6f61;
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 12px;
  }
  
  button {
    font-size: 1.2rem;
    background-color: #ff6f61;
    border-color: #ff6f61;
    color: white;
    transition: background-color 0.3s ease-in-out;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color: #ff4c3b;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  p {
    font-size: 1.2rem;
    color: #333;
  }
  
  p strong {
    color: #ff6f61;
  }

  h4 strong{
    font-size: 1rem;
    /* font-weight: 600; */
    color: #343a40;
    /* text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); */
    /* margin-bottom: 40px; */
  }
  .text-center {
    font-family: 'Roboto', sans-serif;
    color: #333;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
  
    .card {
      padding: 20px;
    }
  
    button {
      font-size: 1rem;
    }
  
    .form-control {
      font-size: 1rem;
    }
  }
  